.content-box {
    height: calc(100vh - 20px);
    overflow-y: auto;
    font-size: 1.8rem;
}

.content-box h3 {
    margin-top: 0;
}

.box-body {
    max-height: calc(100vh - 20px);
    overflow: auto;
    font-size: 1.8rem;
}

body {
    min-height: unset !important;
    height: 100vh !important;
}

.sidebar-menu {
    height: 100vh;
    overflow: scroll !important;
}

.wrapper {
    background-color: #ffffff !important;
}